<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para la directiva oCustomContent de Obelisco</h2>
    <pre class="code import">
      <code appPrism language="javascript" code="import { OCustomContentDirective } from '@gcba/ngx-obelisco/directives'"></code>
    </pre>
  </div>

  <hr />

  <div class="section-selector">
    <h4>OCustomContentDirective</h4>
    <p>Directiva estructural: <strong>*oCustomContent</strong></p>
    <p>
      La directiva OCustomContentDirective permite definir contenido personalizado de manera dinámica dentro de los
      componentes:
    </p>
    <ul>
      <li>Banner</li>
      <li>Bloque de trámite</li>
      <li>Colapsable</li>
      <li>Destacado</li>
      <li>Footer</li>
      <li>Header</li>
      <li>Mapa</li>
      <li>Mensaje de estado</li>
      <li>Modal</li>
      <li>Panel</li>
      <li>Tarjetas</li>
    </ul>
  </div>
</section>
