<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Destacado de Obelisco</h2>
    <pre class="code import">
        <code appPrism language="javascript" code="import { OHighlightedModule } from 'ngx-obelisco-example/highlighted';"></code>
      </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OHighlighted</h4>
    <p>Selector: <strong>o-highlighted</strong></p>

    <div class="section-properties mb-5">
      <h5>Propiedades</h5>
      <o-table [columns]="columns" [dataSource]="highlightedSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>HighlightedType</h4>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface mb-5">
      <pre class="code import">
        <code appPrism>{{ types }}</code>
      </pre>
    </div>
  </div>

  <div class="section-type mt-5">
    <h4>MediaImage</h4>
    <p>Permite establecer los valores de la propiedad <strong>image</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ interfaceImage }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [dataSource]="dataSourceInterfaceImage"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <div class="section-type mt-5">
    <h4>MediaVideo</h4>
    <p>Permite establecer los valores de la propiedad <strong>video</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ interfaceVideo }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [dataSource]="dataSourceInterfaceVideo"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <div class="section-type mt-5">
    <h4>MediaIframe</h4>
    <p>Permite establecer los valores de la propiedad <strong>iframe</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ interfaceIframe }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [dataSource]="dataSourceInterfaceIframe"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
