<div
  class="card card-block"
  [ngStyle]="isPositionRelative ? null : { top: '48px' }"
  [class.bg-light]="isBgLight"
  [class.position-sticky]="!isPositionRelative"
  [class]="customClasses"
>
  <div class="card-body">
    <ng-container *ngIf="!oCustomContent">
      <ng-container *ngIf="title">
        <h4 class="block-title">{{ title }}</h4>
      </ng-container>
      <ng-container *ngIf="description">
        <p class="block-text">{{ description }}</p>
      </ng-container>
      <ng-content select="[progressBar]"></ng-content>
      <ng-content select="[button]"></ng-content>
    </ng-container>
    <ng-container *ngIf="oCustomContent" [ngTemplateOutlet]="oCustomContent.template"></ng-container>
  </div>
</div>
