<section class="section-example">
  <app-viewer title="Simple">
    <div oAlert component type="info">
      <p>Esta es la descripción de una alerta de información.</p>
    </div>
    <div oAlert component type="primary">
      <p>Esta es la descripción de una alerta de advertencia.</p>
    </div>
    <div oAlert component type="success">
      <p>Esta es la descripción de una alerta de éxito.</p>
    </div>
    <div oAlert component>
      <p>Esta es la descripción de una alerta de error.</p>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard ">Copiar</button>
      <code appPrism language="html">
        {{ exampleColors }}
      </code>
    </pre>
  </app-viewer>

  <app-viewer title="Con cierre">
    <div oAlert component type="info" [isDismissible]="true">
      <p>Esta es la descripción de una alerta de información.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span class="material-icons-round">close</span>
      </button>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">
        {{ exampleDismissible }}
      </code>
    </pre>
  </app-viewer>

  <app-viewer title="Con destacado">
    <div oAlert component type="info">
      <p>
        <strong>Este es un destacado de una alerta de información.</strong>
        Esta es la descripción de una alerta de información que continua al texto destacado.
      </p>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard ">Copiar</button>
      <code appPrism language="html">
        {{ exampleHighlight }}
      </code>
    </pre>
  </app-viewer>

  <app-viewer title="Con hipervínculo">
    <div oAlert component type="info">
      <p>
        <strong>Este es un destacado de una alerta (opcional).</strong>
        Un texto simple para una alerta simple, incluso <a [routerLink]="['/']">con hipervínculos</a>
      </p>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard ">Copiar</button>
      <code appPrism language="html">
        {{ exampleHighlightLink }}
      </code>
    </pre>
  </app-viewer>

  <app-viewer title="Listas">
    <div oAlert component>
      <strong>Este es un destacado de una alerta (opcional).</strong>
      <ol class="list-links">
        <li><a href="#">Ancla al error 1</a></li>
        <li><a href="#">Ancla al error 2</a></li>
        <li><a href="#">Ancla al error 3</a></li>
      </ol>
    </div>

    <div oAlert component>
      <strong>Este es un destacado de una alerta (opcional).</strong>
      <ol>
        <li>Ancla al error 1</li>
        <li>Ancla al error 2</li>
        <li>Ancla al error 3</li>
      </ol>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard ">Copiar</button>
      <code appPrism language="html">
        {{ exampleLists }}
      </code>
    </pre>
  </app-viewer>
</section>
