<section class="section-example">
  <app-viewer title="Horizontal - Temática">
    <div component class="card-wrapper-horizontal">
      <o-card
        title="Título de la tarjeta con más de una línea"
        description="Descripción de la tarjeta"
        route="/components"
        [image]="imageTheme"
        [isThemeCard]="true"
      ></o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardThemeHtml }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Horizontal - Con ícono">
    <div component class="card-wrapper-horizontal">
      <o-card
        title="Título de la tarjeta con más de una línea"
        description="Descripción de la tarjeta"
        route="/components"
        icon="bx bxs-info-circle"
        [isHorizontal]="true"
        [isBordered]="true"
      ></o-card>
      <o-card
        title="Título de la tarjeta con más de una línea"
        description="Descripción de la tarjeta"
        route="/components"
        icon="info"
        [isHorizontal]="true"
      ></o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardIconHtml }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Horizontal - Con imagen">
    <div component class="card-wrapper-horizontal">
      <o-card
        title="Título de la tarjeta con más de una línea"
        description="Descripción de la tarjeta"
        route="/components"
        [image]="imageHorizontal"
        [isHorizontal]="true"
        [isBordered]="true"
      ></o-card>
      <o-card
        title="Título de la tarjeta con más de una línea"
        description="Descripción de la tarjeta"
        route="/components"
        [image]="imageHorizontal"
        [isHorizontal]="true"
      ></o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardImageHtml }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Horizontal - Solo texto">
    <div component class="card-wrapper-horizontal">
      <o-card
        title="Título de la tarjeta con más de una línea"
        description="Descripción de la tarjeta"
        route="/components"
        [isHorizontal]="true"
        [isBordered]="true"
      ></o-card>
      <o-card
        title="Título de la tarjeta con más de una línea"
        description="Descripción de la tarjeta"
        route="/components"
        [isHorizontal]="true"
      ></o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardTextHtml }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Vertical - Con ícono">
    <div component class="card-wrapper-vertical">
      <o-card
        title="Título de la tarjeta"
        description="Descripción de la tarjeta"
        route="/components"
        icon="bx bxs-info-circle"
        [isBordered]="true"
      >
      </o-card>
      <o-card title="Título de la tarjeta" description="Descripción de la tarjeta" route="/components" icon="info">
      </o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardIconVerticalHtml }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Vertical - Con imagen">
    <div component class="card-wrapper-vertical">
      <o-card
        title="Título de la tarjeta"
        description="Descripción de la tarjeta"
        route="/components"
        [image]="imageVertical"
        [isBordered]="true"
      >
      </o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardImageVerticalHtml }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Vertical - Noticia">
    <div component class="card-wrapper-vertical">
      <o-card
        title="Título de la tarjeta"
        description="Descripción de la tarjeta"
        route="/components"
        [image]="imageVertical"
        [tags]="[{ name: 'etiqueta 1' }, { name: 'etiqueta 2' }]"
        [isBordered]="true"
      >
        <small #info>Fecha de publicación</small>
      </o-card>
      <o-card
        title="Título de la tarjeta Noticias truncado con texto extendido que supera las tres líneas de longitud."
        description="Descripción de la tarjeta"
        route="/components"
        [image]="imageVertical"
        [tags]="[{ name: 'etiqueta 1' }, { name: 'etiqueta 2' }]"
        [isTitleTruncate]="true"
        [isBordered]="true"
      >
        <small #info>Fecha de publicación</small>
      </o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardNewsHtml }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Vertical - Agenda">
    <div component class="card-wrapper-vertical">
      <o-card
        title="Título de la tarjeta"
        description="Descripción de la tarjeta"
        route="/components"
        [image]="imageVertical"
        headline="sobrelinea"
        [isBordered]="true"
      >
        <div class="pt-2" #info>
          <small><span class="material-icons-round">calendar_today</span> Lun 01/1</small>
          <small><span class="material-icons-round">watch_later</span> 17 | 18 | 19 hs</small>
        </div>
      </o-card>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardEventHtml }}</code>
    </pre>
  </app-viewer>
</section>
