<a *ngIf="!eventName" #card class="card" [routerLink]="route">
  <img oDefaultImage *ngIf="imageSrc" [src]="imageSrc" class="card-img-top" [alt]="alt" />
  <div class="card-body">
    <div *ngIf="tags" class="mb-2">
      <span *ngFor="let tag of tags" class="badge badge-{{ tag.type }}">{{ tag.name }}</span>
    </div>
    <h4 class="card-title">{{ title }}</h4>
    <p class="card-text" *ngIf="description">{{ description }}</p>
  </div>
  <div class="card-footer">
    <ng-content></ng-content>
  </div>
</a>

<a *ngIf="eventName" #card class="card" [routerLink]="route">
  <div class="card-event-top">
    <img oDefaultImage *ngIf="imageSrc" [src]="imageSrc" class="card-event-bg" [alt]="alt" />
    <div class="card-event-img">
      <img oDefaultImage *ngIf="imageThumbSrc" [src]="imageThumbSrc" [alt]="altThumb" />
    </div>
    <p class="card-event-name">{{ eventName }}</p>
  </div>
  <div class="card-body">
    <p class="card-headline">{{ headline }}</p>
    <h4 class="card-title">{{ title }}</h4>
  </div>
</a>
