<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Pestañas</h2>
    <pre class="code import">
        <code appPrism code="import { ONavModule } from '@gcba/ngx-obelisco/nav';"></code>
      </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OTabs</h4>
    <p>Selector: <strong>o-tabs</strong></p>

    <div class="section-properties">
      <h5>Propiedades</h5>
      <o-table [columns]="columns" [dataSource]="dataSourceTabs" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>TabsProps</h4>
    <p>Permite establecer los valores de la propiedad <strong>TabsProps</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ exampleIterface }}</code>
      </pre>

      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table [dataSource]="dataSourceProps" [columns]="columns" [isBordered]="true" [isStriped]="true"></o-table>
      </div>
    </div>
  </div>

  <div class="section-type mt-4">
    <h4>Sizes</h4>
    <p>Permite establecer el tamaño del componente <strong>OTabsComponent</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
          <code appPrism>
            {{ sizes }}
          </code>
        </pre>
    </div>
  </div>
</section>
