<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Panel de Obelisco</h2>
    <pre class="code import">
      <code appPrism code="import { OPanelModule } from 'ngx-obelisco-example/panel';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OPanelModule</h4>
    <p>Selector: <strong>o-panel-small</strong></p>

    <div class="section-properties">
      <h5>Propiedades</h5>

      <o-table [columns]="columns" [dataSource]="dataSourcePanelSmall" [isStriped]="true" [isBordered]="true"></o-table>
    </div>

    <h3>Tipos de datos</h3>
    <hr />

    <div class="section-type">
      <h4>MediaPanel</h4>
      <p>Permite establecer los valores de la propiedad <strong>image</strong>.</p>

      <div class="section-interface">
        <pre class="code import">
          <code appPrism language="javascript">{{ interface }}</code>
        </pre>
        <div class="section-properties">
          <h5>Propiedades</h5>
          <o-table
            [dataSource]="dataSourceInterface"
            [columns]="columns"
            [isBordered]="true"
            [isStriped]="true"
          ></o-table>
        </div>
        <div class="section-properties">
          <h5>MediaSizes</h5>
          <pre class="code import">
            <code appPrism language="javascript">{{ mediaTypes }}</code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>
