<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Datepicker de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { ODatepickerModule } from 'ngx-obelisco-example/datepicker';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-datepicker</strong></p>

    <div class="section-properties mb-5">
      <h2 class="h3">Propiedades</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="datepickerDataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
    <div class="section-properties mb-5">
      <h2 class="h3">Métodos</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="datepickerOutputDataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>DatepickerDate</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>minDate</strong>, <strong>maxDate</strong> y
      <strong>startDate</strong>.
    </p>

    <div class="section-interface mb-5">
      <div class=" ">
        <code highlight-js>{{ ngbdatastructDataInterface }}</code>
      </div>
    </div>

    <h3>DatePickerItem</h3>
    <p>Permite establecer los valores del servicio <strong>TasksService</strong>.</p>

    <div class="section-interface mb-5">
      <div class=" ">
        <code highlight-js>{{ datepickertaskInterface }}</code>
      </div>
    </div>

    <h3>DatePickerTask</h3>
    <p>Permite establecer los valores de la propiedad <strong>task</strong>.</p>

    <div class="section-interface mb-5">
      <div class=" ">
        <code highlight-js>{{ taskInterface }}</code>
      </div>
    </div>
  </div>
</section>
