<section class="section-example">
  <!-- Destacado horizontal (BANNER) -->
  <app-viewer title="Horizontal con imagen" [isNavCode]="true">
    <div class="col-12 col-lg-6" component>
      <o-map [title]="'Ubicación'" [description]="'Uspallata 3160'" [iframe]="iframe">
        <o-button
          text="Cómo llego"
          [isExpandable]="true"
          link="https://mapa.buenosaires.gob.ar/comollego/?lat=-34.640340&lng=-58.407032&zl=15&modo=transporte&dir=Uspallata+3160"
          target="_blank"
          rel="noreferrer"
        ></o-button>
      </o-map>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ mapHtml }}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="javascript">{{ mapTs }}</code>
    </pre>
  </app-viewer>
</section>
