<div
  class="card card-simple"
  [ngClass]="{
    'panel-vertical': isVertical,
    'panel-horizontal': !isVertical,
    'bg-white': isBgWhite,
    'bg-light': isBgLight
  }"
>
  <ng-container *ngIf="imageURL">
    <img [src]="imageURL" [alt]="imageAlt" class="card-img" />
  </ng-container>

  <ng-container *ngIf="videoURL">
    <video class="card-img" controls="">
      <source [src]="videoURL" type="video/mp4" />
      <p>Su navegador no soporta vídeos HTML5.</p>
    </video>
  </ng-container>

  <div class="card-body">
    <h2 class="card-title">{{ title }}</h2>
    <p class="card-text">
      {{ description }}
    </p>
    <div class="panel-footer">
      <ng-content></ng-content>
    </div>
  </div>
</div>
