<section class="section-example">
  <app-viewer
    *ngFor="let tooltip of tooltipList; index as i"
    [title]="tooltip.name"
    [isNavCode]="!!tooltip.exampleTS"
    [id]="'example-' + tooltip.name.toLowerCase()"
  >
    <div component class="d-flex justify-content-center">
      <ng-container *ngFor="let direction of tooltip.direction; index as i">
        <o-button
          *ngIf="!tooltip.customClasses"
          oTooltip
          [description]="tooltip.text"
          [direction]="direction"
          customClasses="mx-2"
          [text]="direction | titlecase"
        ></o-button>

        <span
          *ngIf="tooltip.customClasses"
          oTooltip
          [description]="tooltip.text"
          [direction]="direction"
          class="icon-box bg-light mx-2"
        >
          <span class="material-icons-round">help</span>
        </span>
      </ng-container>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">
        {{ tooltip.exampleHTML }}
      </code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism>
        {{ tooltip.exampleTS }}
      </code>
    </pre>
  </app-viewer>
</section>
