<ng-template #smallPanelContent>
  <img
    [src]="image.src"
    [alt]="image.alt"
    class="rounded-lg"
    [width]="image.size ? sizeToPx(image.size) : sizeToPx('md')"
    [height]="image.size ? sizeToPx(image.size) : sizeToPx('md')"
  />
  <div class="card-body">
    <h3 class="card-title">{{ title }}</h3>
    <p class="card-text">
      {{ description }}
    </p>
  </div>
</ng-template>

<div *ngIf="!isVertical" class="card card-simple panel-sm-horizontal">
  <ng-container *ngTemplateOutlet="smallPanelContent"></ng-container>
</div>

<div
  *ngIf="isVertical"
  class="card card-simple"
  [ngClass]="{
    'panel-list-link': isItemsListVertical,
    'panel-sm': !isItemsListVertical,
    'bg-white': isBgWhite,
    'bg-light': isBgLight
  }"
>
  <ng-container *ngTemplateOutlet="smallPanelContent"></ng-container>

  <div class="list-link" *ngIf="isItemsListVertical">
    <ng-content select="[listLinkContent]"></ng-content>
  </div>

  <div class="panel-footer" *ngIf="!isItemsListVertical">
    <ng-content select="[panelFooterContent]"></ng-content>
  </div>
</div>
