<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Tarjeta de Obelisco</h2>
    <pre class="code import">
      <code appPrism language="javascript" code="import { OCardModule } from 'ngx-obelisco-example/card';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OCardModule</h4>
    <p>Selector: <strong>o-card</strong></p>

    <div class="section-properties">
      <h5>Propiedades</h5>

      <o-table [columns]="columns" [dataSource]="dataSourceCard" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>Tags</h4>
    <p>Permite establecer los valores de la propiedad <strong>tags</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ cardTagsInterface }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table [columns]="columns" [dataSource]="dataSourceCardTags" [isStriped]="true" [isBordered]="true"></o-table>
      </div>
    </div>
  </div>

  <br />

  <div class="section-type">
    <h4>TagTypes</h4>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism>{{ tagTypesInterface }}</code>
      </pre>
    </div>
  </div>

  <div class="section-type">
    <h4>MediaImage</h4>
    <p>Permite establecer los valores de la propiedad <strong>image</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ mediaImageInterface }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [dataSource]="mediaImagedataSourceInterface"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
