<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Tarjeta de Obelisco</h2>
    <pre class="code import">
      <code appPrism language="javascript" code="import { OCardModule } from '@gcba/ngx-obelisco/card';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OCardModule</h4>
    <p>Selectores: <strong>o-card-horizontal</strong> & <strong>o-card-vertical</strong></p>

    <div class="section-properties">
      <h5>Propiedades de <strong>o-card-horizontal</strong></h5>

      <o-table
        [columns]="columns"
        [dataSource]="dataSourceCardHorizontal"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>

    <div class="section-properties">
      <h5>Propiedades de <strong>o-card-vertical</strong></h5>

      <o-table
        [columns]="columns"
        [dataSource]="dataSourceCardVertical"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>Tags</h4>
    <p>Permite establecer los valores de la propiedad <strong>tags</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ cardTagsInterface }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table [columns]="columns" [dataSource]="dataSourceCardTags" [isStriped]="true" [isBordered]="true"></o-table>
      </div>
    </div>
  </div>

  <br />

  <div class="section-type">
    <h4>TagTypes</h4>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism>{{ tagTypesInterface }}</code>
      </pre>
    </div>
  </div>
</section>
