<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Mapa de Obelisco</h2>
    <pre class="code import">
        <code appPrism language="javascript" code="import { OMapModule } from '@gcba/ngx-obelisco/map';"></code>
      </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OMap</h4>
    <p>Selector: <strong>o-map</strong></p>

    <div class="section-properties mb-5">
      <h5>Propiedades</h5>
      <o-table [columns]="columns" [dataSource]="map" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>Media</h4>
    <p>
      Permite establecer los valores de la propiedad <strong>image</strong>, <strong>video</strong>, e
      <strong>iframe</strong>.
    </p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ interface }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [dataSource]="dataSourceInterface"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
