<section class="section-example">
  <app-viewer title="Sin separadores" [isNavCode]="true">
    <o-table [isScrollable]="true" component [columns]="columns" [dataSource]="dataSource"></o-table>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html" code="{{ exampleNormalHTML }}"></code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism>{{ exampleNormalTS }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Con separadores" [isNavCode]="true">
    <o-table
      [isScrollable]="true"
      component
      [columns]="columns"
      [dataSource]="dataSource"
      [isBordered]="true"
    ></o-table>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html" code="{{ exampleBorderedHTML }}"></code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism>{{ exampleNormalTS }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Con patron cebra" [isNavCode]="true">
    <o-table [isScrollable]="true" component [columns]="columns" [dataSource]="dataSource" [isStriped]="true"></o-table>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html" code="{{ exampleStripedHTML }}"></code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism>{{ exampleNormalTS }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Con checkbox" [isNavCode]="true">
    <o-table
      [isScrollable]="true"
      component
      [columns]="columns"
      [dataSource]="dataSource"
      [checkbox]="{
        title: 'Checkbox',
        isAllSelectable: true
      }"
      id="table-checkbox-test"
      (dataSelectedChange)="onDataSelectedChange($event)"
    ></o-table>

    <div class="mt-3" component *ngFor="let item of outputData; let i = index">
      <p>
        <strong>Datos de la fila N°{{ i + 1 }}: </strong>
      </p>
      <p>Numbero: {{ item.number.data }}</p>
      <p>Texto: {{ item.text.data }}</p>
      <hr />
    </div>

    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html" code="{{ exampleSelectableHTML }}"></code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism>{{ exampleSelectableTS }}</code>
    </pre>
  </app-viewer>
</section>
