<ng-container *ngIf="isInContainer; else notContainer">
  <a
    #card
    class="card"
    [ngClass]="{
      'card-lg': imageSize == 'lg',
      'card-horizontal': iconLeft || imageSrc
    }"
    [routerLink]="route"
  >
    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </a>
</ng-container>

<ng-template #notContainer>
  <div
    class="card"
    [ngClass]="{
      'card-lg': imageSize == 'lg',
      'card-horizontal': iconLeft || imageSrc,
      'card-simple': iconTop || isSimpleCard || imageSrc,
      unbordered: iconLeft
    }"
  >
    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </div>
</ng-template>

<ng-template #cardContent>
  <i *ngIf="iconLeft && iconLeft.includes('bx')" [ngClass]="[iconLeft, 'card-icon-left']"></i>
  <span *ngIf="iconLeft && !iconLeft.includes('bx')" class="material-icons-round card-icon-left">{{ iconLeft }}</span>
  <img *ngIf="!iconLeft && !iconTop && imageSrc" [src]="imageSrc" class="card-img-left" [alt]="alt" oDefaultImage />
  <div class="card-body">
    <i *ngIf="iconTop && iconTop.includes('bx')" [ngClass]="[iconTop, 'card-icon']"></i>
    <span *ngIf="iconTop && !iconTop.includes('bx')" class="material-icons-round card-icon">{{ iconTop }}</span>
    <h4 *ngIf="title" class="card-title">
      <ng-container *ngIf="!isInContainer; else justTitle">
        <a #card [routerLink]="route">{{ title }}</a>
      </ng-container>
      <ng-template #justTitle>{{ title }}</ng-template>
    </h4>
    <p *ngIf="description" class="card-text">{{ description }}</p>
  </div>
</ng-template>
