<section class="section-example">
  <app-viewer title="Horizontal" [isNavCode]="true">
    <div class="col-xl-6 col-lg-6 col-md-12" component>
      <o-panel-small
        title="Nombre del titular"
        description="Descripción de hasta 3 líneas para mantener los estándares de lectura en los componentes de Obelisco."
        [image]="image"
      >
      </o-panel-small>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ horizontal }}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="javascript">{{ exampleTs }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Vertical" [isNavCode]="true">
    <div class="col-xl-6 col-lg-6 col-md-12" component>
      <o-panel-small
        title="Nombre del titular"
        description="Descripción de hasta 3 líneas para mantener los estándares de lectura en los componentes de Obelisco."
        [image]="image"
        [isVertical]="true"
      >
      </o-panel-small>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ vertical }}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="javascript">{{ exampleTs }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Imagen grande" [isNavCode]="true">
    <div class="col-xl-6 col-lg-6 col-md-12" component>
      <o-panel-small
        title="Nombre del titular"
        description="Descripción de hasta 3 líneas para mantener los estándares de lectura en los componentes de Obelisco."
        [isVertical]="true"
        [image]="imageLarge"
      >
      </o-panel-small>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ vertical }}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="javascript">{{ exampleImageLargeTs }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Con fondos" [isNavCode]="true">
    <div class="col-xl-6 col-lg-6 col-md-12" component>
      <o-panel-small
        title="Nombre del titular"
        description="Descripción de hasta 3 líneas para mantener los estándares de lectura en los componentes de Obelisco."
        [image]="image"
        [isVertical]="true"
        [isBgWhite]="true"
      >
      </o-panel-small>
      <br />
      <o-panel-small
        title="Nombre del titular"
        description="Descripción de hasta 3 líneas para mantener los estándares de lectura en los componentes de Obelisco."
        [image]="image"
        [isVertical]="true"
        [isBgLight]="true"
      >
      </o-panel-small>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ withBg }}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="javascript">{{ exampleTs }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Items horizontales" [isNavCode]="true">
    <div class="col-xl-6 col-lg-6 col-md-12" component>
      <o-panel-small
        title="Nombre del titular"
        description="Descripción de hasta 3 líneas para mantener los estándares de lectura en los componentes de Obelisco."
        [image]="image"
        [isVertical]="true"
      >
        <ng-container panelFooterContent>
          <button type="button" class="btn btn-secondary btn-sm card-link">Acción 1</button>
          <button type="button" class="btn btn-link btn-sm card-link">Acción 2</button>
        </ng-container>
      </o-panel-small>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ horizontalItems }}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="javascript">{{ exampleTs }}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Items verticales" [isNavCode]="true">
    <div class="col-xl-6 col-lg-6 col-md-12" component>
      <o-panel-small
        title="Nombre del titular"
        description="Descripción de hasta 3 líneas para mantener los estándares de lectura en los componentes de Obelisco."
        [image]="image"
        [isVertical]="true"
        [isItemsListVertical]="true"
      >
        <ng-container listLinkContent>
          <h4 class="list-link-item-title">Nombre del archivo</h4>
          <a class="btn btn-secondary btn-sm download-link card-link" href="#" download=""> Descargar </a>
          <h4 class="list-link-item-title">Nombre del archivo</h4>
          <a class="btn btn-secondary btn-sm download-link card-link" href="#" download=""> Descargar </a>
          <h4 class="list-link-item-title">Nombre del archivo</h4>
          <a class="btn btn-secondary btn-sm download-link card-link" href="#" download=""> Descargar </a>
        </ng-container>
      </o-panel-small>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ verticalItems }}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code appPrism language="javascript">{{ exampleTs }}</code>
    </pre>
  </app-viewer>
</section>
