<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Badge de Obelisco</h2>
    <pre class="code import">
        <code appPrism language="javascript" code="import { OBadgeModule } from 'ngx-obelisco-example/badge';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OBadge</h4>
    <p>Selector: <strong>o-badge</strong></p>

    <div class="section-properties mb-5">
      <h5>Propiedades</h5>
      <o-table [columns]="columns" [dataSource]="dataSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>

    <div class="section-type">
      <h4>BadgeTypes</h4>
      <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

      <div class="section-interface mb-5">
        <pre class="code import">
            <code appPrism>{{ colors }}</code>
        </pre>
      </div>
    </div>
  </div>
</section>
