<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Spinner de Obelisco</h2>
    <pre class="code import">
        <code appPrism language="javascript" code="import { OSpinnerDirective } from 'ngx-obelisco-example/spinner';"></code>
      </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OSpinner</h4>
    <p>Selector: <strong>oSpinner</strong></p>

    <div class="section-properties mb-5">
      <h5>Propiedades</h5>

      <o-table [columns]="columns" [dataSource]="dataSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <div class="section-type">
    <h4>SpinnerTypes</h4>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface mb-5">
      <pre class="code import">
          <code appPrism>{{ colors }}</code>
        </pre>
    </div>

    <h4>Sizes</h4>
    <p>Permite establecer el <strong>tamaño</strong> del spinner</p>

    <div class="section-interface">
      <pre class="code import">
            <code appPrism>
              {{ sizes }}
            </code>
        </pre>
    </div>
  </div>
</section>
