<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Banner de Obelisco</h2>
    <pre class="code import">
      <code appPrism language="javascript" code="import { OBannerComponent } from 'ngx-obelisco-example/banner';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OBanner</h4>
    <p>Selector: <strong>o-banner</strong></p>

    <div class="section-properties mb-5">
      <h5>Propiedades</h5>
      <o-table [columns]="columns" [dataSource]="dataSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>
</section>
